<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>IO-NS Report</title>
        <link rel="stylesheet" href="./static/style.css">
    </head>
    <body>
        <div id="root"></div>

        <script>
            window.ions_machine = {machine_json};
            window.ions_date = "{date}";
            window.ions_results = {results_json};
        </script>
        <script src="./static/script.js"></script>
    </body>
</html>