* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.results-table, .results-table * { 
    border: 1px solid black;
    border-collapse: collapse;
}

.results-table td, .results-table th {
    padding: 0.5em;
}

.text-right {
    text-align: right !important;
}